body {
  text-align: center;
  color: blueviolet;
  background-color: lightcyan;
}
p {
  
  margin: 20px;
}

img:hover{
  transform :skew(3deg, 3deg);
}
img{
  transition: transform 2s ease-in .1s;
}